.vagrant
.vagrant/machines/kworker2/virtualbox/box_meta
.vagrant/machines/kmaster/virtualbox/action_provision
.vagrant/machines/kmaster/virtualbox/action_set_name
.vagrant/machines/kmaster/virtualbox/box_meta
.vagrant/machines/kmaster/virtualbox/creator_uid
.vagrant/machines/kmaster/virtualbox/id
.vagrant/machines/kmaster/virtualbox/index_uuid
.vagrant/machines/kmaster/virtualbox/private_key
.vagrant/machines/kmaster/virtualbox/synced_folders
.vagrant/machines/kmaster/virtualbox/vagrant_cwd
.vagrant/machines/kworker1/virtualbox/action_provision
.vagrant/machines/kworker1/virtualbox/action_set_name
.vagrant/machines/kworker1/virtualbox/box_meta
.vagrant/machines/kworker1/virtualbox/creator_uid
.vagrant/machines/kworker1/virtualbox/id
.vagrant/machines/kworker1/virtualbox/index_uuid
.vagrant/machines/kworker1/virtualbox/private_key
.vagrant/machines/kworker1/virtualbox/synced_folders
.vagrant/machines/kworker1/virtualbox/vagrant_cwd
.vagrant/machines/kworker2/virtualbox/action_provision
.vagrant/machines/kworker2/virtualbox/action_set_name
.vagrant/machines/kworker2/virtualbox/creator_uid
.vagrant/machines/kworker2/virtualbox/id
.vagrant/machines/kworker2/virtualbox/index_uuid
.vagrant/machines/kworker2/virtualbox/private_key
.vagrant/machines/kworker2/virtualbox/synced_folders
.vagrant/machines/kworker2/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
